# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfstate.d/
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Secrets
*-secrets.yaml
*.pem

# Misc
get_helm.sh
*.pdf